<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RentnRest</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <!-- <link rel="stylesheet" href="/css/booking.css" /> -->
  </head>

  <body>
    <%- include("../includes/navbar.ejs") %>
    <div class="cont-card">
      <div class="container"><%- body %></div>
    </div>

    <%- include("../includes/footer.ejs") %>
  </body>
</html>
